* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'counter';
  src: url('../fonts/KazimirText-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('../img/bg_3-min.png');
  background-size: cover
}

body, html {
  height: 100%;
}

section {
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* mid layer -- eye */

.eye-container {
  display: flex;
  width: 0;
  height: 0;
}

.clip-container {
  display: flex;
  flex-direction: column;
}

.eyelid {
  width: 100vw;
  height: 50vh;
  background: #0e0e0e;
  -webkit-clip-path: url(#svg-eye-top);
  clip-path: url(#svg-eye-top);
}

.eyelid-bottom {
  -webkit-clip-path: url(#svg-eye-bottom);
  clip-path: url(#svg-eye-bottom);
}

/* layer 1 -- controls */

.control-layer {
  display: flex;
  width: 100vw;
  height: auto;
  bottom: 0;
  /* margin: 0 3vw 4vh 0; */
  z-index: 1;
  position: absolute;
  /* overflow: hidden; */
}

.counter-panel {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 93px);
  height: auto;
  top: 0;
  left: 0;
  margin: 2.3vw 2.6vw 0 2.6vw;
  position: absolute;
  z-index: 2;
}

.counter-dot {
  width: 50px;
  height: 50px;
  background-color: #EBFF00;
  border-radius: 50%;
}

.counter {
  font-family: 'counter';
  /* font-size: 6vw; */
  font-size: 82pt;
  color: #EBFF00;
  margin-top: -1vw;
}

@media all and (max-width: 1024px) {
  .counter {font-size: 86pt;}
  .counter-dot {margin-right: -4vw; width: 70px; height: 70px;}
  .eyelid {clip-path: url(#svg-eye-top-1024);}
  .eyelid-bottom {clip-path: url(#svg-eye-bottom-1024);}
}

@media all and (max-width: 1024px) and (orientation: portrait) {
  .control-layer { right: 0; flex-direction: column; align-items: flex-end; justify-content: space-between; height: 290px; width: auto;}
  .button {height: 160%;}
  .imgg {height: 160%;}
  .on { justify-content: flex-end; margin-bottom: 60px;}
}



.button {
  display: flex;
  align-items: flex-end;
  margin: 0 2.6vw 2.3vw 2.6vw;
  width: 50vw;
  height: auto;
  /* background-color: blue; */
}

.imgg {
  width: auto;
}

.off {
  justify-content: flex-end;
}





.interactive-l-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 40%;
  padding: 100px;
  margin: 0;
}

.dots-container {
  align-self: center;
  /* background-color: blue; */
  padding: 100px;
}

.dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* position: absolute; */
  width: 300px;
  height: 500px;
  margin-top: 100px;
  margin-left: 100px;
}

.fast {
  animation: cloud-move 50s infinite;
}

.slow {
  animation: cloud-move 40s infinite;
}

.dot-info {
  display: none;
  justify-content: space-between;
  width: inherit;
  /* margin-top: 20px; */
  margin-bottom: 1vh;
  font-family: 'Roboto';
  color: #9BB7D8;
}

.dot-coord {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18pt;
  width: 160px;
  height: 105px;
  margin-right: -5vw;
  background-image:url('../img/coord.png');
  background-size: cover;
  background-position: center;
}

.dot-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  width: 70px;
  height: 90px;
  margin-left: -4vw;
  /* background-color: red; */
  background-image:url('../img/num.png');
  background-size: cover;
  background-position: top;
}

.dot-el {
  position: absolute;
  width: 450px;
  height: 550px;
  /* width: 350px;
  height: 450px; */
  /* border-radius: 50%; */
  /* background-color: white; */
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#cl1 {
  background-image: url('../img/c1.png');
}

#cl2 {
  background-image: url('../img/c3.png');
}

#cl3 {
  background-image: url('../img/c4.png');
}

#cl4 {
  background-image: url('../img/c5.png');
}

#cl5 {
  background-image: url('../img/c12.png');
}

#cl6 {
  background-image: url('../img/c15.png');
}

#cl7 {
  background-image: url('../img/c8.png');
}

#cl8 {
  background-image: url('../img/c1.png');
}

#cl9 {
  background-image: url('../img/c2.png');
}

#cl10 {
  background-image: url('../img/c11.png');
}

#cl11 {
  background-image: url('../img/c12.png');
}

#cl12 {
  background-image: url('../img/c13.png');
}

#cl13 {
  background-image: url('../img/c14.png');
}

#cl14 {
  background-image: url('../img/c15.png');
}

.thing-container {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.thing {
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#thingL {
  top: -250px;
  left: -250px;
  width: 500px;
  height: 500px;
  background-image: url('../img/thing1.png');
  animation: thing-avoid 30s alternate infinite;
}

#thingS {
  top: -250px;
  left: -400px;
  width: 120px;
  height: 120px;
  background-image: url('../img/thing2.png');
  animation: thing-avoid2 30s alternate infinite;
}

@keyframes thing-avoid {
  0% {transform: translateX(0%); transform: translateY(0%);}
  100% {transform: translate(100%, 50%);}
}
@keyframes thing-avoid2 {
  0% {transform: translateX(0%); transform: translateY(0%);}
  100% {transform: translate(100%, 70%);}
}

@keyframes cloud-move {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}

@keyframes arrow-canv {
  0% {top: 500px; left: -350px;}
  100% {top: 450px; left: -300px;}
}

canvas {
  z-index: -2;
  top: 500px;
  left: -1000px;
  position: absolute;
}

#canvasPointer {
  width: 200px;
  height: 100px;
  background-image: url("../img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 500px;
  left: -300px;
  transform: rotate(135deg);
  cursor: pointer;
  /* animation: arrow-canv .6s alternate infinite; */
}

#canvasCircle {
  width: 900px;
  height: 900px;
  z-index: -1;
  top: 500px;
  left: -1000px;
  position: absolute;
  background-image: url("../img/p5_ellipse.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

}
