* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'counter';
  src: url('../fonts/KazimirText-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('../img/bg_3-min.png');
  background-size: cover
}

body, html {
  height: 100%;
}

section {
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* mid layer -- eye */

.eye-container {
  display: flex;
  width: 0;
  height: 0;
}

.clip-container {
  display: flex;
  flex-direction: column;
}

.eyelid {
  width: 100vw;
  height: 50vh;
  background: #0e0e0e;
  -webkit-clip-path: url(#svg-eye-top);
  clip-path: url(#svg-eye-top);
}

.eyelid-bottom {
  -webkit-clip-path: url(#svg-eye-bottom);
  clip-path: url(#svg-eye-bottom);
}

/* layer 1 -- controls */

.control-layer {
  display: flex;
  width: 100vw;
  height: auto;
  bottom: 0;
  /* margin: 0 3vw 4vh 0; */
  z-index: 1;
  position: absolute;
  /* overflow: hidden; */
}

.counter-panel {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 93px);
  height: auto;
  top: 0;
  left: 0;
  margin: 2.3vw 2.6vw 0 2.6vw;
  position: absolute;
  z-index: 2;
}

.counter-dot {
  width: 50px;
  height: 50px;
  background-color: #EBFF00;
  border-radius: 50%;
}

.counter {
  font-family: 'counter';
  /* font-size: 6vw; */
  font-size: 82pt;
  color: #EBFF00;
  margin-top: -1vw;
}

@media all and (max-width: 1024px) {
  .counter {font-size: 62pt;}
  .counter-dot {margin-right: -4vw; width: 50px; height: 50px;}
}

.button {
  display: flex;
  align-items: flex-end;
  margin: 0 2.6vw 2.3vw 2.6vw;
  width: 50vw;
  height: auto;
  /* background-color: blue; */
}

.iimg {
  width: auto;
}

.off {
  justify-content: flex-end;
}





.interactive-l-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 100px;
  margin: 0;
}

.dots-container {
  align-self: center;
  /* background-color: blue; */
  padding: 100px;
}

.dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* position: absolute; */
  width: 300px;
  height: 500px;
  margin-top: 100px;
  margin-left: 100px;
}

.fast {
  /* animation: cloud-move 50s infinite;  */
}

.slow {
  /* animation: cloud-move 40s infinite; */
}

.dot-info {
  display: none;
  justify-content: space-between;
  width: inherit;
  /* margin-top: 20px; */
  margin-bottom: -4vh;
  font-family: 'Roboto';
  color: #9BB7D8;
}

.dot-coord {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18pt;
  width: 180px;
  height: 120px;
  margin-right: -4vw;
  background-image:url('../img/coord.png');
  background-size: cover;
  background-position: top;
}

.dot-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
  width: 70px;
  height: 90px;
  /* background-color: red; */
  background-image:url('../img/num.png');
  background-size: cover;
  background-position: top;
}

.dot-el {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

@keyframes cloud-move {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}


.test-elem {
  position: absolute;
  width: 200%;
  height: 200%;
  padding: 0;
  margin: 0;
  /* background-image: url("../img/bg_sky.svg"); */
  /* background-size: cover; */
}


/* CHANGE */
canvas {
  z-index: -2;
  top: 500px;
  left: -1000px;
  position: absolute;
}

#canvasPointer {
  width: 200px;
  height: 100px;
  background-image: url("../img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 500px;
  left: -300px;
  transform: rotate(135deg);
  cursor: pointer;
}

#canvasCircle {
  width: 800px;
  height: 800px;
  z-index: -1;
  top: 500px;
  left: -1000px;
  position: absolute;
  background-image: url("../img/p5_ellipse.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

}
